<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'estilos/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'estilos/mensajes.css') }}" type="text/css">
</head>

<body onload="datos_usuario('{{ correo }}')">
    <!-- ENCABEZADO DE LA PÁGINA -->
    <header>
        <section class="centrado bar_encabezado">
            <div class="div-logo">
                <img id='avion' src="../static/estilos/img/logo.png" alt="Logo Empresa">
            </div>

            <nav class="nav-bar">
                <a href="{{ url_for('lugares') }}"> Lugares </a>
                <!-- <a href="#"> Eventos </a> -->

                {% if usuario %}
                {% if tipo_usuario == "Empresa" %}
                <a href="{{ url_for('servicios') }}"> Servicios </a>

                {% elif tipo_usuario == "Administrador" %}
                <a href="{{ url_for('administrar') }}"> Administrar </a>
                {% endif %}
                {% endif %}

                {% if not usuario %}
                <a href="{{ url_for('login') }}"> Ingresar </a>
                <a href="{{ url_for('registro') }}"> Registrarse </a>
                {% endif %}
            </nav>

            {% if usuario %}
            <div class="login">
                <div class="usuario">
                    <p id="dato__usuario"> {{ usuario }} </p>
                    <p id="dato__tipo"> {{ tipo_usuario }} </p>
                </div>
                <div class="div-btn-inicio">
                    <a href="{{ url_for('logout') }}">
                        <img src="../static/estilos/img/logout.png">
                    </a>
                </div>
            </div>
            {% endif %}
        </section>
    </header>

    <section class="fondo">
        <main>
            <!-- OTROS MENSAJES -->
            <div class="mensajes">
                {% with mensajes = get_flashed_messages(with_categories=True) %}
                {% if mensajes %}
                {% for category, mensaje in mensajes %}
                <div class="{{ category }}" id="{{ category }}">
                    {% if category == "mensaje__exito" %}
                    <p><i class="fas fa-check"></i> {{ mensaje }}</p>
                    {% else %}
                    <p><i class="fas fa-exclamation-triangle"></i> Error: {{ mensaje }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </main>
    </section>

    <footer>
        <div class="div-footer">
            {% if usuario %}
            <div class="btn_baja">
                <button id="btn__eliminar" class="btn-eliminar"
                    onclick="mostrar_ventana(document.getElementById('ventana__baja__usuario'))">
                    Darme de baja </button>
            </div>
            {% endif %}
        </div>
    </footer>

    <!-- VENTANAS: ELIMINAR - Se superpone a todo el contenido -->
    <div class="ventana__principal" id="ventana__baja__usuario">
        <div class="ventana__contenido" id="ventana__eliminar__contenido">
            <div class="ventana">
                <p class="titulo_ventana" id="titulo__ventana"> Atención: </p>
                <p> La cuenta se desactivará, permaneciendo en este estado durante 120 días. Luego se
                    eliminará
                    de forma permantente. </p>
                <p id="eliminar_cuenta">¿Desea desactivar la cuenta: </p>

                <a href="" class="ancla_confirmar" id="ancla__delete">
                    <button class="btn-eliminar-si" id="btn__eliminar__si">Si</button>
                </a>
            </div>
            <button class="btn_close" onclick="cerrar_ventana(document.getElementById('ventana__baja__usuario'))">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>

    <!-- SCRIPTS  -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="https://kit.fontawesome.com/62f868e9da.js" crossorigin="anonymous"></script>

</body>

</html>